/* this is the overarching style sheet to be used as a baseline for all three pages */
body{
    margin: 0;
    background-color: rgb(173, 167, 167); 
}

.div1{
    display: flex;
    background-color: white;
    border-bottom-width: 1%;
    border-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
}
.headerbox{
    padding: 20px 100px 20px 100px;
    width:960px;
}
h1 {
    width : 200px;
    height: 100%;
    padding-top: 10px;
    font-family: 'Georgia', Times New Roman, Times, serif; 
    font-size : 26px;
    font-weight: bold;
    color : #fff;
    text-align: center;
    background-color: #4aaaa5;
    float: left;
    border: 5px;
    border-color: rgb(207, 203, 203);
}

.navkeys{
    float: right;
    font-family: "Arial", Helvetica, sans-serif;
    color: rgb(207, 203, 203);
    text-align: center;
    padding-right: 10%;
    margin: 0;
    padding-top: 3%;
    }

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }


a:link, a:visited{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: grey;
    text-decoration: none;
}
.hr1{
    height: 2px;
    width: 100%;
    margin:0;
    padding:0;
    color:solid grey;
}

.div2{
    padding: 0px 100px 0px 100px;
}
h2 {
    font-family:'Georgia', Times New Roman, Times, serif; 
    font-size : 25px;
    font-weight: bold;
    color : #4aaaa5;
    border: 2px;
    padding-top: 30px;
    padding-left: 30px;
    border-color: rgb(207, 203, 203);
}

.div3 {
    width: 960px;
    height: 600px;
    background: #fff;
    margin-top: 25px;
    margin-left: 100px;
    border: 2px;
    border-color: rgb(207, 203, 203);
    background-color: white;
}

img{
    position: relative;
    float: left;
    height: 200px;
    width: 200px;
    padding-left: 20px;
}
.hr2{
    height: 2px;
    width: 95%;
    padding-left: 0;
    align-content: center;
    color:solid grey;
    z-index: 1;
}

p{
    z-index: 99;
    background: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 




